
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



.box{
    margin-left : 30px;
    margin-top: 30px;
    width: 200px;
    height: 200px;
    border : 1px solid black;
    padding-left: 30px;
    padding-top: 30px;
}


.img-container{
    margin-left : 30px;
    margin-top: 30px;
    border: 1px solid red;
    width: 200px;
    border-radius: 50%;
    height: 200px;
    padding: 1rem;
}


.img-container img{
    width: 100%;
    border-radius: 50%;
    object-fit: cover;
    height: 100%;

}


.container {
    display: flex;
    justify-content: space-between;
    margin-right: 30px;
}

.box-2{
    width: 200px;
    height: 200px;
    border: 1px solid green;
    margin: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}